@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Proza+Libre:500&display=swap");
@import url("https://i.icomoon.io/public/812c8e0906/FIGIcons/style.css");
@tailwind base;

/*Extend base elements after this point*/
html {
    @apply font-body;
    font-size: 62.5%;
}

@tailwind components;

/*Write custom components after this point*/

//btn components
.btn {
    @apply inline-block tracking-wider text-xs uppercase font-bold h-48 px-40 rounded-sm transition duration-150;
    &:not(:disabled) {
        &:focus {
            @apply shadow-outline;
        }
    }
    &:disabled {
        @apply bg-gray-dark text-white cursor-not-allowed opacity-75;
    }
    &:focus {
        @apply outline-none;
    }
    //variant
    &.btn--icon {
        @apply p-0 h-48 w-48;
        &.btn--sm {
            @apply p-0 h-36 w-36;
        }
        &.btn--lg {
            @apply p-0 h-60 w-60;
        }
    }
    //size
    &.btn--sm {
        @apply h-36 px-20;
    }
    &.btn--lg {
        @apply h-60 px-60;
    }
    //colors
    &.btn--primary {
        &:not(:disabled) {
            @apply bg-primary text-white;
            &:hover {
                @apply bg-primary-dark;
            }
            &:focus {
                @apply shadow-outline;
            }
        }
    }
    &.btn--accent {
        &:not(:disabled) {
            @apply bg-transparent text-accent border;
            &:hover {
                @apply text-accent-dark;
            }
            &:focus {
                @apply shadow-outline;
            }
        }
    }
    &.btn--warning {
        &:not(:disabled) {
            @apply bg-red text-white;
            &:hover {
                @apply bg-red-dark;
            }
            &:focus {
                @apply shadow-outline;
            }
        }
    }
    &.btn--toggle {
        &:not(:disabled) {
            @apply bg-transparent border text-pink border-pink border-solid;
            &:hover {
                @apply text-pink-dark border-pink-dark;
            }
            &:focus {
                @apply shadow-outline;
            }
            &.btn--toggle-on {
                @apply bg-pink border-none text-white;
                &:hover {
                    @apply bg-pink-dark;
                }
                &:focus {
                    @apply shadow-outline;
                }
            }
        }
    }
}

.theme--light {
    .btn {
        &.btn--accent {
            &:not(:disabled) {
                @apply bg-transparent text-blue border;
                &:hover {
                    @apply text-blue-dark;
                }
                &:focus {
                    @apply shadow-outline;
                }
            }
        }
    }
}
.mobile-nav {
    top: 100%;
}

.nav-button {
    @apply relative px-10 flex items-center h-48 text-primary rounded transition duration-150;
    .before,
    .after {
        @apply absolute w-36 h-2 bg-primary inset-auto transition duration-200 transform origin-center;
    }
    .before {
        @apply -translate-y-4;
    }
    .after {
        @apply translate-y-4;
    }
    &:hover {
        @apply text-primary-dark;
        .before,
        .after {
            @apply bg-primary-dark;
        }
    }
    &:focus {
        @apply outline-none;
    }
    &.nav-button--open {
        @apply text-accent-dark;
        .before,
        .after {
            @apply bg-accent-dark;
        }
        .before {
            @apply my-0;
            @apply translate-y-0 rotate-45;
        }
        .after {
            @apply my-0;
            @apply translate-y-0 -rotate-45;
        }
    }
}

.nav {
    @apply transition duration-200 fixed inset-y-0 left-0 top-0 z-30 flex flex-col overflow-y-auto;
    @screen md {
        &.nav--open,
        &.nav--closed {
            transform: translateX(0) !important;
        }
    }

    &.nav--open {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    &.nav--closed {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .nav__link {
        @apply relative flex justify-center items-center tracking-wide uppercase font-semibold no-underline transition duration-150;
        &:hover {
            @apply text-pink;
        }
        &::after {
            @apply transform scale-x-0 origin-center transition duration-200 bg-pink absolute bottom-0 left-0 w-full h-4;
            content: "";
        }
        &.nav__link--is-active {
            @apply text-pink;
            &::after {
                @apply scale-x-100;
                content: "";
            }
        }
    }
}

.loading-container,
#loading-bar {
    @apply bg-white;
    -webkit-transition: opacity 350ms ease;
    transition: opacity 350ms ease;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.loading-container .bar,
#loading-bar .bar {
    -webkit-transition: width ease 200ms;
    transition: width ease 200ms;
    margin: auto 0;
    height: 18px;
    @apply bg-pink;
}

.heading {
    @apply font-display leading-tight text-lg tracking-wide;
}

.label {
    @apply font-body font-medium text-sm;
}

.loading {
    @apply bg-blue;
}

.fig-18px::before {
    font-size: 18px;
}

.fig-24px::before {
    font-size: 24px;
}

.fig-36px::before {
    font-size: 36px;
}

.fig-48px::before {
    font-size: 48px;
}

.bg-img {
    background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

overview {
    .gallery-item {
        text-align: center;
        &.ng-enter {
            transition: 0.4s ease all;
            opacity: 0;
        }
        &.ng-enter-stagger {
            transition-delay: .08s;
            transition-duration: 0s;
        }
        &.ng-enter-active {
            opacity: 1;
        }
    }
}

.card {
    @apply bg-gray-darker flex-grow flex overflow-hidden rounded bg-center bg-no-repeat bg-cover outline-none transition duration-150;
    &:hover,
    &:focus {
        @apply shadow-outline;
    }
    .card__content {
        @apply flex flex-col justify-center items-center flex-grow bg-black-3/4 p-20 transition duration-150;
        &:hover {
            @apply bg-black-1/2;
        }
    }
}

.temp-heading {
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@tailwind utilities;

/*Write custom utils after this point*/


/*# sourceMappingURL=tailwind.css.map */