@import url('https://fonts.googleapis.com/css?family=Patua+One|Source+Sans+Pro:400,600,700');
@import url('https://i.icomoon.io/public/812c8e0906/FIGIcons/style.css');

@tailwind base;

@tailwind components;

html {
    @apply font-body;
}

.mobile-nav {
    top: 100%;
}

.nav__link--is-active {
    @apply text-pink-dark;
}

.nav__link--is-active::after{
    @apply bg-pink absolute bottom-0 left-0 w-full h-1;
    content: '';
}


.loading-container, #loading-bar {
    @apply bg-white;
    transition: opacity 350ms ease;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}
#loading-bar .bar {
    transition: width ease 200ms;
    margin: auto 0;
    height: 18px;
    @apply bg-pink;
}

.heading {
    @apply font-display text-lg leading-tight;
}

.label {
    @apply text-sm;
}

.loading {
    @apply bg-blue;
}

@tailwind utilities;
