@import url('https://fonts.googleapis.com/css?family=Patua+One|Source+Sans+Pro:400,700');
@import url('https://i.icomoon.io/public/812c8e0906/FIGIcons/style.css');

@tailwind base;

@tailwind components;

html {
    @apply font-body;
}

.mobile-nav {
    top: 100%;
}

.nav__link--is-active {
    @apply text-pink-dark;
}

.nav__link--is-active::after{
    @apply bg-pink absolute bottom-0 left-0 w-full h-1;
    content: '';
}

.fig-18px::before {
    font-size: 18px;
}

.fig-24px::before {
    font-size: 24px;
}

.fig-36px::before {
    font-size: 36px;
}

.fig-48px::before {
    font-size: 48px;
}

.grid-gallery__img {

}

@tailwind utilities;
